@media screen and (max-width:426px){
.header, .nav-right, .normal-nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 50px 15px 50px;
}
/*  banner section start */
.banner{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    background:url(../images/Group\ 14.png);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center bottom;
    row-gap: 50px;

}
.banner-image{
    width: 280px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}
.banner-left h3{
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    
}
.banner-left h2{
    text-align: center;
    
}

.banner-left p{
    color: #534C64;
    font-size: 13px;
    font-weight: 400;
    text-transform: lowercase;
    padding-top: 3px;
    padding-bottom: 2px;
    

}


}