*{
font-family: 'Work Sans', sans-serif;
margin: 0px;
padding: 0;
}

/* shared style */
.comon-color{
    color: #FF42A5;
}

/* ========================== */
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 50px;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 12px;

}
.nav-left h3{
font-size: 30px;
font-weight: 700;

}

.nav-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-right li {
list-style: none;
text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.nav-right li:hover{
    cursor: pointer;
}

.normal-nav{
    display: flex;
    align-items: center;
    gap: 12px;
}
.advance-nav{
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px 15px 5px 15px;
}

/* <!-- header section end --> */