*{
font-family: 'Work Sans', sans-serif;
margin: 0px;
padding: 0;
}

/* shared style */
.comon-color{
    color: #FF42A5;
}

/* ========================== */
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 12px;

}
.nav-left h3{
font-size: 30px;
font-weight: 700;

}

.nav-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-right li {
list-style: none;
text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.nav-right li:hover{
    cursor: pointer;
}

.normal-nav{
    display: flex;
    align-items: center;
    gap: 12px;
}
.advance-nav{
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px 15px 5px 15px;
}

/* <!-- header section end --> */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:url(../images/Group\ 14.png);
    background-size: 520px;
    background-repeat: no-repeat;
    background-position: center left;

}
.banner-image{
    width: 400px;
}

.banner-left{


}

.banner-left h3{
    font-size: 38px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.banner-left h2{
text-align: left;
font-size: 50px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.banner-left p{
    color: #534C64;
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
    padding-top: 3px;
    padding-bottom: 2px;

}

.banner-btn{
    display:flex;
    gap: 15px;
}
.banner-button-blue{
    background-color: #4EC5F7;
    
    padding: 10px 22px 10px 22px;
    border: none;
    border-radius: 40px;
    color: #FFF;
    font-weight: 600;
}

.banner-button-pink{
    background-color: #FF42A5;
    padding: 10px 22px 10px 22px;
    border: none;
    border-radius: 40px;
    color: #FFF;
    font-weight: 600;
}

/* banner section end here */

.gamer-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 80px 50px 80px;
}

.gamer-image{
    width: 500px;
}
.gamer-right-child{
display: flex;
flex-direction: column;
align-items: end;
gap: 10px;
}
.gamer-right-child p{
 text-align: right;
}

.gamer-right-child h3{
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
/* gamer section end */

.instant-gaming{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.instant-gamer-img-1{
    width: 310px;
}

.instant-gaming span{
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #e01e93 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}











/* responsive starts from here============================================= */
